.hero.title, .hero.subtitle {
	color: #fff !important
}

#card-section {
	padding-top: 0 !important
}

#main-nav {
	margin-right: 24px
}

.table-container, .modal-container {
	overflow-x: auto
}

.uneditable {
	border: none;
	background-color: rgba(0,0,0,0)
}

td.delete-record {
	border: none;
	opacity: 1;
	transition: opacity 1s;
}

td.hide-delete {
	opacity: 0;
	pointer-events: none
}

.tag {
	cursor: pointer;
	margin-top: 0.5em
}

