<!DOCTYPE html>
<html lang="en">

<head>
	<title>JPSM SupaDB</title>
	<link type='text/css' rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css' />
	<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js'></script>
</head>

<body ng-app='JPSMSupaDB'>

	<section class='hero is-info'>
		<div class='hero-body'>
			<div class='container'>
				<h1 class='title is-1 is-spaced'>
					JPSM SupaTools</h1>
				<h3 class='subtitle'>
					Brought to your by Node.js, Express.js, Angular.js, and MongoDB</h3>
			</div>
		</div>
	</section>

	<section class='section'>
		<div class='container' id='login_panel' ng-controller='LoginController'>
			<form action='/dologin' method='post' ng-hide='authenticated'>
				<input type='text' name='username' value='Username' ng-model='username' /><br>
				<input type='password' name='password' value='Password' ng-model='password' /><br>
				<input type='submit' value='Log In'/><br><br>
			</form>
			<span ng-show='authenticated' ng-model='person'>Welcome back, {{ person }}</span>
		</div>
	</section>

	<script>
		// Init app.
		var app = angular.module( 'JPSMSupaDB', [] );
		// Create controller for login form.
		app.controller( 'LoginController', ( $scope, $http ) => {
			$scope.username = '';
			$scope.password = '';
			$scope.person = '';
			$scope.authenticated = false;
			$scope.results = {};
			$scope.Logout = function() {
				$scope.authenticated = false;
			};
			$scope.LoggedIn = function() {
				$scope.authenticated = true;
			};
		} );
	</script>
</body>

</html>
