<!DOCTYPE html>
<html lang='en'>

	<head>
		<link type='text/css' rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css' />
		<link type='text/css' rel='stylesheet' href='css/style.css' />
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'></script>
	</head>

	<body ng-app="SupaDBApp" ng-cloak='{{what}}'>

	<section class='hero is-info'>

		<div class='hero-body'>
			<div class='container'>
				<h1 class='title is-1 is-spaced'>
					JPSM SupaDB</h1>
				<h3 class='subtitle'>
					Brought to you by cramped hands, burning eyes, and looooooots of coffee. Enjoy.
				</h3>
			</div>
		</div>

		<!-- Nav section; hopefully, as this is an odd place to stick it... -->
			<nav class='nav level' id='main-nav'>

				<!-- Nav areas; left, center, and right. -->
				<div class='nav-left level-left'>
				</div>

				<div class='nav-center'>
				</div>

				<div class='nav-right level-right nav-menu'>
					<a class='nav-item' id='home' href='/'>
						Home</a>
					<a class='nav-item' id='aboutus' href='http://jointprogram.umd.edu/' target='_blank'>
						Our Web</a>
					<a class='nav-item' id='contact'>
						Contact</a>
				</div>

				<span class='nav-toggle is-active'>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</span>

			</nav>

	</section>

<!-- ***********************TABLE_CONTROL********************************** -->

	<section class='section section-table-control' ng-controller='TableController'>

		<div class='table-control'>

			<div class='container'>

				<div class='table-control-body'>

					<h3 class='subtitle is-3'>Search Records</h3><br />

					<div class='columns table-control-grid'>

						<div class='column is-one-fourth content is-large'>

							<label for='type'>Record Type</label><br />

							<select name='type' class='content is-medium' ng-model='state'>

								<option name='type' ng-repeat='state in states' value='{{ state }}'>{{ state }}</option>

							</select>

						</div>

						<div class='column is-one-fourth content is-large'>

							<label>Create Record</label><br />

							<button class='button' ng-click='addStudent()'>Add</button>

						</div>						

						<div class='column is-one-fourth content is-large'>

							<label for='find'>Find</label><br />

							<input name='find' ng-model='query' type='radio' value='all' />All<br />

							<input name='find' ng-model='query' type='radio' value='by' />By<br />

						</div>

						<div class='column is-one-fourth content is-large'>

							<label>Filter</label><br />

							<select class='content is-medium' ng-model='filter' ng-show='query == "by"'>

								<option ng-repeat='filt in filters' ng-bind-html='filt.text' value='{{ filt.val }}'></option>

							</select>

						</div>

					</div>

				</div>

			</div>

		</div>

	</section>

<!-- ***************************MAIN_CONTROL******************************* -->

	<section class='section section-main' ng-controller='MainController'>

		<div class='container table-container'>

			<div class='section-main-body'>

				<table class='table is-striped'>

					<tr>
						<th ng-repeat='header in students_headers' ng-hide='hide_student_table'>{{ header }}</th>
						<th ng-repeat='header in staff_headers' ng-hide='hide_staff_table'>{{ header }}</th>
						<th class='delete-record'></th>
					</tr>

					<tr ng-repeat='student in students' ng-hide='hide_student_table' class='record-student' stud-id='{{ student.id }}'>
						<td><input class='uneditable field-student' ng-model='student.lname' readonly /></td>
						<td><input class='uneditable field-student' ng-model='student.fname' readonly /></td>
						<td><input class='uneditable field-student' ng-model='student.email' readonly /></td>
						<td><input class='uneditable field-student' ng-model='student.phone' readonly /></td>
						<td><input class='uneditable field-student' ng-model='student.residency' readonly /></td>
						<td><input class='uneditable field-student' ng-model='student.enrolled' readonly /></td>
						<td><input class='uneditable field-student' ng-model='student.employed' readonly /></td>
						<td class='field-student' >
							<button class='button program-modal-open' ng-click='openProgramModal(this)' >Open</button>
						</td>
						<td class='field-student' >
							<button class='button employment-modal-open' ng-click='openEmploymentModal(this)' >Open</button>
						</td>
						<td class='field-student' >
							<button class='button student-rec-edit is-info' ng-click='editStudent( $event, this )' >Edit</button>
						</td>
						<td class='delete-record field-student hide-delete' >
							<span class='tag is-danger' ng-click='deleteStudent( $event, this )'>Delete?
								<a class='delete is-small'></a>
							</span>
						</td>						
					</tr>

					<tr ng-repeat='mem in staff' ng-hide='hide_staff_table'>
						<td>{{ mem.lname }}</td>
						<td>{{ mem.fname }}</td>
						<td>{{ mem.email }}</td>
						<td>{{ mem.phone }}</td>
						<td>{{ mem.position }}</td>
						<td>{{ mem.start }}</td>
						<td>{{ mem.end }}</td>
						<td>
							<button class='button staff-rec-edit'>Edit</button>
						</td>
					</tr>

				</table>

			</div>

		</div>

	</section>

<!-- **************************MODAL_CONTROL******************************* -->

	<div class='modal' id='modal' ng-controller='ModalController'>

		<div class='modal-background' id='modal-background' ng-click='closeModal( this )'></div>

		<div class='container modal-container' id='modal-content'>
			
		<table class='modal-content table is-bordered is-striped'>

			<tr>
				<th ng-repeat='header in headers track by $index'>{{ header }}</th>
				<th></th>
			</tr>

			<tr class='record-program' ng-repeat='program in programs' ng-hide='!view_program' stud-id='{{ program.student }}' prog-id='{{ program.id }}'>

				<td class='field-program'><input class='uneditable' value='{{ program.name }}' readonly></td>
				<td class='field-program'><input class='uneditable' value='{{ program.concentration }}' readonly></td>
				<td class='field-program'><input class='uneditable' value='{{ program.start }}' readonly></td>
				<td class='field-program'><input class='uneditable' value='{{ program.end }}' readonly></td>
				<td class='field-program'><input class='uneditable' value='{{ program.complete }}' readonly></td>
				<td class='field-program'>
					<button class='button' ng-click='editProgram($event)'>Edit</button>
				</td>
				<td class='delete-record field-program hide-delete' >
					<span class='tag is-danger' ng-click='deleteProgram( $event, this )'>Delete?
						<a class='delete is-small'></a>
					</span>
				</td>

			</tr>

			<tr class='record-employment' ng-repeat='emp in employment' ng-hide='!view_employment' stud-id='{{ emp.student }}' emp-id='{{ emp.id }}'>

				<td class='field-employment'><input class='uneditable' value='{{ emp.position }}' readonly></td>
				<td class='field-employment'><input class='uneditable' value='{{ emp.name }}' readonly></td>
				<td class='field-employment'><input class='uneditable' value='{{ emp.sector }}' readonly></td>
				<td class='field-employment'><input class='uneditable' value='{{ emp.start }}' readonly></td>
				<td class='field-employment'><input class='uneditable' value='{{ emp.end }}' readonly></td>
				<td class='field-employment'>
					<button class='button' ng-click='editEmployment($event)'>Edit</button>
				</td>
				<td class='delete-record field-employment hide-delete' >
					<span class='tag is-danger' ng-click='deleteEmployment( $event, this )'>Delete?
						<a class='delete is-small'></a>
					</span>
				</td>

			</tr>

			<tr ng-hide='!view_program' stud-id='{{ student }}'>

				<td class='field-program'><input value='{{ new_program.name }}'></td>
				<td class='field-program'><input value='{{ new_program.concentration }}'></td>
				<td class='field-program'><input value='{{ new_program.start }}'></td>
				<td class='field-program'><input value='{{ new_program.end }}'></td>
				<td class='field-program'><input value='{{ new_program.complete }}'></td>
				<td>
					<button class='button' ng-click='addProgram($event)'>Add</button>
				</td>

			</tr>

			<tr ng-hide='!view_employment' stud-id='{{ student }}'>

				<td class='field-employment'><input value='{{ new_employment.position }}'></td>
				<td class='field-employment'><input value='{{ new_employment.name }}'></td>
				<td class='field-employment'><input value='{{ new_employment.sector }}'></td>
				<td class='field-employment'><input value='{{ new_employment.start }}'></td>
				<td class='field-employment'><input value='{{ new_employment.end }}'></td>
				<td>
					<button class='button' ng-click='addEmployment($event)'>Add</button>
				</td>

			</tr>			

			<tr ng-hide='!add_student'>

				<td>
					<label>Last name</label>
				</td>

				<td>
					<input type='text' ng-model='new_student.lname' />
				</td>

			</tr>

			<tr ng-hide='!add_student'>

				<td>
					<label>First name</label>
				</td>

				<td>
					<input type='text' ng-model='new_student.fname' />
				</td>
			</tr>

			<tr ng-hide='!add_student'>

				<td>
					<label>Email</label>
				</td>

				<td>
					<input type='text' ng-model='new_student.email' />
				</td>
			</tr>

			<tr ng-hide='!add_student'>

				<td>
					<label>Phone</label>
				</td>

				<td>
					<input type='text' ng-model='new_student.phone' />
				</td>
			</tr>

			<tr ng-hide='!add_student'>

				<td>
					<label>Residency</label>
				</td>

				<td>
					<input type='text' ng-model='new_student.residency' />
				</td>
			</tr>

			<tr ng-hide='!add_student'>

				<td>
					<label>Currently enrolled?</label>
				</td>

				<td>
					<input type='text' ng-model='new_student.enrolled' />
				</td>
			</tr>

			<tr ng-hide='!add_student'>

				<td>
					<label>Currently employed?</label>
				</td>

				<td>
					<input type='text' ng-model='new_student.employed' />
				</td>
			</tr>

			<tr ng-hide='!add_student'>
				<td>
					<button class='button' ng-click='addStudent( this )'>Add!</button>
				</td>
			</tr>

		</table>

		</div>

		<button class='modal-close' id='modal-close' ng-click='closeModal( this )'></button>

	</div>


	<script type='text/javascript' src='/js/app.js'></script>
	<script type='text/javascript' src='/js/controllers/maincontroller.js'></script>
	<script type='text/javascript' src='/js/controllers/tablecontroller.js'></script>
	<script type='text/javascript' src='/js/controllers/modalcontroller.js'></script>

	</body>

</html>